h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 5rem;
  text-align: center;
}
h5{
  font-size: 2rem;
  font-weight: bold;
}
h6{
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
}
.div-rounded{
  border-radius: 25px;
}
.img-rounded{
  border-radius: 25px;
  object-fit:cover;
}
.img-top{
  margin-bottom: 25%;
}
.img-bottom{
  margin-top: 25%;
}
.footer-list{
  list-style: none;
  font-size: 0.8rem;
}
.footer-list>li>a{
  text-decoration:none;
  color: rgba(211, 211, 211, 0.678);
}
.chart{
  border-radius: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
.customList{
  list-style-type: "\2705";
}
.bg-custom{
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}