h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.img-rounded{
  border-radius: 25px;
}
.img-top{
  margin-bottom: 25%;
}
.img-bottom{
  margin-top: 25%;
}
.footer-list{
  list-style: none;
}